*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: darkgrey;
}

.ms_play{
  color: white;
  background: black;
  font-size: 29px;
}
.ms_play:hover{
  color: white;
  transition: padding 0.2s;
  font-size: 32px;
}
